In [16]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
#importing the dataset
dataset=pd.read_csv('Social_Network_Ads.csv')

In [18]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [19]:
#filtering out columns to retain age and salary
X=dataset.iloc[:,[2,3]].values
Y=dataset.iloc[:,[4]].values

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
#data split for training and testing
X_train,X_test,Y_train,Y_test=train_test_split(X, Y, test_size=0.25, random_state=0)

In [22]:
#Scaling using standard scaler and normal distribution
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
#building the model using RBF kernel
from sklearn.svm import SVC
classifier_rbf = SVC(kernel='rbf',random_state=0)
classifier_rbf.fit(X_train,Y_train)
y_pred_rbf=classifier_rbf.predict(X_test)

C:\Users\W10\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [24]:
from sklearn.metrics import confusion_matrix
cm_rbf= confusion_matrix(Y_test,y_pred_rbf)
cm_rbf

array([[64,  4],
       [ 3, 29]], dtype=int64)

In [25]:
#classification report
from sklearn.metrics import classification_report
class_report_rbf=classification_report(Y_test,y_pred_rbf)
class_report_rbf

'              precision    recall  f1-score   support\n\n           0       0.96      0.94      0.95        68\n           1       0.88      0.91      0.89        32\n\n    accuracy                           0.93       100\n   macro avg       0.92      0.92      0.92       100\nweighted avg       0.93      0.93      0.93       100\n'